﻿<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <title>Hello</title>
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <body style="padding-left:50px;padding-top:25px">
        <div>Pa si se uspešno prijavil!</div>
        <div>
            <form action="/odjava" method="get">
                <input type="submit" value="Odjavi me!" class="btn btn-default" style="margin-left: 50px; margin-top: 25px" />
            </form>
        </div>
   
        <!-- Dodaj novega uporabnika -->
        <div style="width:250px;margin-top:25px">
            <fieldset>
                <legend>Dodaj novega uporabnika</legend>
                <form action="/dodajUporabnika" method="post" enctype="multipart/form-data">
                    <div class="form-group">
                        <label for="DisplayIme">Nov uporabnik:</label>
                        <input type="text" class="form-control" id="DisplayIme" name="DisplayIme"/>
                    </div>
                    <div class="form-group">
                        <label for="Ime">Uporabniško ime:</label>
                        <input type="text" class="form-control" id="Ime" name="Ime"/>
                    </div>
                    <div class="form-group">
                        <label for="Geslo">Novo Geslo:</label>
                        <input type="password" class="form-control" id="Geslo" name="Geslo"/>
                    </div>
                
                    <div>
                        <label for="Tip">Vrsta računa:</label>
                        <select name="Tip" id="Tip" class="form-control">
                            <option value="">Navaden uporabnik</option>
                            <option value="admin">Admin</option>
                        </select>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                    <% if(sporocilo != "") { %>
                        <div id="obvestilo" class="alert alert-info">
                                <%= sporocilo %>
                        </div>
                    <% } %>
                </form>
            </fieldset>
        </div>


    </body>
</html>
