﻿<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Login</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    $(document).ready(function () {
        $("#gumb-prijava").click(function () {

            var username = $("#Ime").val();
            var password = $("#Geslo").val();
            var uporabniskiPodatki = {
                username: username,
                password: password
            }
            $.ajax({
                type: "POST",
                url: "/checklogin",
                dataType: 'json',
                contentType: 'application/json',
                async: true,
                data: JSON.stringify(uporabniskiPodatki),
                success: function (odgovor) {
                    odgovor = JSON.parse(JSON.stringify(odgovor));
                    if (odgovor.veljavnost) {
                        $("#prijava-obvestilo-okvir").css({
                            "display": "inline-block"
                        });
                        $("#prijava-obvestilo-okvir").attr({
                            "class": "alert alert-success fade-in"
                        });
                        $("#prijava-obvestilo").html("Prijava uspešna!");
                        window.location.replace("/");
                    } else {
                        $("#prijava-obvestilo-okvir").css({
                            "display": "inline-block"
                        });
                        $("#prijava-obvestilo-okvir").attr({
                            "class": "alert alert-danger fade-in"
                        });
                        $("#prijava-obvestilo").html("Uporabniško ime ali geslo ni pravilno!");
                        timer = setTimeout(function () {
                            $("#prijava-obvestilo-okvir").hide('slow');
                            window.location.replace("/login");
                        }, 4000);
                    }
                },
                error: function (err) {
                    alert(err);
                }
            });
        });
    });
</script>

<body>
    <div style="width:250px;height:150px; margin-left:25vw;margin-top:10vh">

        <div class="form-group">
            <label for="Ime">Uporabniško ime:</label>
            <input type="text" class="form-control" id="Ime" name="Ime"/>
        </div>
        <div class="form-group">
            <label for="Geslo">Geslo:</label>
            <input type="password" class="form-control" id="Geslo" name="Geslo"/>
        </div>
        <div id="prijava-obvestilo-okvir" style="width:250px">
            <div id="prijava-obvestilo" style="width:250px"></div>
        </div>
        <div style="text-align:center">
            <button class="btn btn-default" id="gumb-prijava">Log in</button>
        </div>
    </div>
</body>
</html>